<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel="stylesheet" href="../static/css/password_change.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET</title>
    <script src="../static/password_change.js"></script>
</head>
<body>
    <div class="logform">
        <form action="" onsubmit="return check()" autocomplete="off" method="POST">
            {%csrf_token%}
            <h2>NEW PASSWORD</h2>
            <div class="mydiv">
                <label for="password">PASSWORD</label><br>
                <input onmouseover="onMouseover(4)" onmouseout="onMouseout(4)" type="password" id="password" name="password" placeholder="PASSWORD">
                <p></p>        
            </div>
            <div class="mydiv">
                <label for="cpassword">CONFIRM PASSWORD</label><br>
                <input onmouseover="onMouseover(5)" onmouseout="onMouseout(5)" type="password" id="cpassword" name="cpassword" placeholder="CONFIRM PASSWORD">
                <p></p>        
            </div>
            <button onclick="check()">SUBMIT</button>
            

        </form>

    </div>
    
    
    
    
</body>
</html>